extends layout 

block content 
  .inner 
    h2 #{title}
    .map 
      .autocomplete
        input.autocomplete__input(type="text", placeholder="Search for anything", name="geolocate")
        p(class="hide noplaces") No places nearby... keep searching 🔭
      #map 
        p Loading map...