mixin forgotForm()
    form.form(method="post") 
      h2 Please enter the email address you used to register your account
      label Email address
      input(type="text", name="email")
      input.button(type="submit", value="Reset password ➡️")